.manubar{
    position: absolute;
width: 132px;
height: 852px;
left: 32.34px;
top: 24.02px;

/* Black */

background: #000000;
border-radius: 24px
}
.menuicon{
    color:white;
}
.bgclr{
    background-color:  rgba(245, 245, 247, 1);
    ;
}
.mtt {
    margin-top: -100px;
}

svg.radial-progress circle
{
    stroke-width: 5;
}
svg.radial-progress text
{

    fill:#3c4761;
    font-size: 1.5rem;
}
svg.web-design circle
{
    stroke: rgba(0, 0, 0, 1);
}

.bgbtn{
    background-color: rgba(0, 0, 0, 1);
    color: white;
    
}
